/* 让所有 H1 标题变成炫酷的渐变色 */
h1 {
    background: linear-gradient(to right, #d946ef, #8b5cf6, #06b6d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  /* 修改侧边栏背景，增加毛玻璃效果 */
  .md-sidebar {
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
  }